body {
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #ccc;
}
.whole {
  background-color: white;
  width: 420px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-content: center;
  margin-left: 350px;
}
.font1 {
  /* padding-left: 20px; */
  letter-spacing: 1px;
  text-align: center;
}
.input_title {
  font-size: 15px;
  margin-left: -50px;
}
.input-box {
  height: 45px;
  width: 300px;
  /* box-sizing: border-box; */
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  margin-left: -50px;
}

.su-button {
  padding: 10px 35px 10px 35px;
  border-radius: 6px;
  margin-left: -50px;
}
.register {
  margin-left: -50px;
}
